.buttonContainer{
  width: 100%;
  max-width: 860px;
  display: flex;
  justify-content: space-between;
  margin: 30px 0 0 0;
  @media screen and (max-width: 768px){
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    padding: 0 10px;
    margin-top: 60px;
  }
  a{
    width: 100%;
    max-width: 390px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    border-radius: 15px;
    padding: 10px 0;
    &:first-child{
      color: white;
      border: 1px solid white;
      &:hover{
        background-color: white;
        color: black;
      }
    }
    &:last-child{
      background-color: white;
      color: black;
      border: 1px solid white;
      &:hover{
        background-color: transparent;
        color: white;
      }
    }
  }
}
