.productContainer{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
  .productBody{
    width: 100%;
    padding: 20px 50px 0 50px;
    height: calc(100%);
    max-height: 830px;
    background: linear-gradient(103deg, rgba(0, 0, 0, 0.27) 1.56%, rgba(149, 145, 145, 0.11) 100%, rgba(149, 145, 145, 0.11) 100%);
    backdrop-filter: blur(18px);
    border-radius: 55px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: 768px){
      flex-direction: column;
    }
    .navigation{
      height: 100%;
      //max-height: 450px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: auto;
      max-width: 100%;
      @media screen and (max-width: 768px){
        width: 100%;
        max-width: calc(200px + (1920 - 200)*((100vw - 375px) / (1920 - 375)));
      }
      .mySwiper{
        height: 100%;
        max-height: 400px;
      }
    }
    .productImageContainer{
      height: 100%;
      //margin-left: 120px;
      img{
        object-fit: contain;
        max-width: 100%;
        max-height: 100%;
        height: 100%;
      }
    }
    .closeButton{
      cursor: pointer;
      position: absolute;
      top: 50px;
      left: 75px;
      @media screen and (max-width: 768px){
        top: -40px;
        left: 50%;
      }
    }
  }
}
.navIconContainer{
  max-width: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  svg{
    position: relative;
    cursor: pointer;
    display: block;
    width: 100%;
    max-width: 40px;
    object-fit: contain;
    @media screen and (max-width: 768px){
      max-width: 25px;
    }
  }
}
.line{
  z-index: 1;
  position: absolute;
  height: calc(100% - 40px);
  border: 0;
  width: 1px;
}
