.productMenu .swiper-slide{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s all ease-in-out;
    width: 70px;
}
.productMenu .swiper-slide-active{
    scale: 1.5;
}
.productMenu .swiper-slide-active div:last-child{
    width: 0!important;
    border: 0;
}
.productMenu .swiper-slide-next div:last-child{
    top: -60px;
    border: 1px solid #FFFFFF;
}
.productMenu .swiper-slide-prev div:last-child{
    bottom: -60px!important;
    border: 1px solid #FFFFFF;
}
.productMenu .swiper-slide-next{
    scale: 0.7;
}
.productMenu .swiper-slide-prev{
    scale: 0.7;
}
