.headerContainer{
  width: 100%;
  max-width: 335px;
  display: flex;
  justify-content: flex-end;
  //position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  @media screen and (max-width: 1700px){
    justify-content: flex-start;
  }

  .headerBody{
    width: 100%;
    max-width: 115px;
    background: #000000;
    border: 1px solid #616060;
    border-radius: 0 0 15px 15px;
    cursor: pointer;
    position: relative;
    @media screen and (max-width: 768px){
      max-width: 85px;
      border-radius: 0 0 17px 17px;
    }
    .logoHeaderContainer{
      max-height: 180px;
      border: 1px solid #616060;
      border-radius: 0 0 15px 15px;
      padding: 15px 15px;
      @media screen and (max-width: 768px){
        max-height: 67px;
        padding: 0px 8px 15px 8px;
        border-radius: 0 0 17px 17px;
      }
      svg{
        display: block;
        width: 100%;
      }
    }
    .headerLinksContainer{
      position: absolute;
      background-color: black;
      top: 60px;
      left: 0;
      padding: 15px 8px 15px 8px;
      z-index: 2;
      border-width: 0 1px 1px 1px;
      border-style: solid;
      border-color: #616060;
      border-radius: 0 0 21px 21px;
      height: auto;
      font-size: 14px;
      @media screen and (max-width: 768px){
        height: 100%;
        bottom: 0;
        top: 50px;
        background-color: black;
        padding: 0 8px;
        border-radius: 0 0 17px 17px;
      }
      a{
        text-decoration-line: underline;
        color: #FFFFFF;
        opacity: 0.5;
        text-transform: uppercase;
        transition: 0.3s;
        display: block;
        position: relative;
        font-size: 14px;
        z-index: 3;
        @media screen and (max-width: 768px){
          font-size: 10px;
        }
        &:hover{
          opacity: 1;
        }
      }
      a+a{
        margin-top: 8px;
      }
    }
  }
}
.headerOpenedContainer{
  width: 100%;
  max-width: 600px;
  background: linear-gradient(166.24deg, rgba(255, 255, 255, 0.488) 2.51%, rgba(50, 50, 49, 0.472) 97.32%);
  backdrop-filter: blur(11.5px);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 70px 55px 0 15px;
  @media screen and (max-width: 1700px){
    justify-content: flex-start;
  }
  .headerOpenedBody{
    width: 100%;
    max-width: 440px;
    .headerOpenedLogoContainer{
      max-width: 180px;
      svg{
        width: 100%;
      }
    }
    .headerOpenedTextBody{
      margin-top: 100px;
      p{
        margin-top: 20px;
      }
    }
  }
}
.overlay{
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: black;
}
