.container{
    background-image: url("/src/assets/images/mainBackground.jpg");
    background-size: cover;
}
.mainContainer {
    width: 100%;
    max-width: 1700px;
    margin: 0 auto;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    -webkit-user-select: none;
    z-index: 1;
}

#overlay img {
    position: absolute;
    right: 0;
    bottom: 0;
    -webkit-animation: clouds 80s ease-in-out infinite alternate;
    animation: clouds 80s ease-in-out infinite alternate;
    z-index: 1;
}

.clouds-delay {
    right: -1200px;
    -webkit-animation-delay: 20s;
    animation-delay: 20s;
}

@-webkit-keyframes clouds {

    0% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }

    100% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        opacity: 0.7;
    }

}

@keyframes clouds {

    0% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }

    100% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        opacity: 0.7;
    }

}
